@model _3K1D_Final.Models.Phim

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Phim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKhoiChieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKhoiChieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuocGiaSanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuocGiaSanXuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaoDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaoDien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamSx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamSx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApPhich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApPhich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinhDangPhim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinhDangPhim)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPhim" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
