@model IEnumerable<_3K1D_Final.Models.KhachHang>

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create" asp-controller="Customers" asp-area="Admin">Create New</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HoTen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgaySinh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaChi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sdt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cccd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiemTichLuy)
                    </th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgaySinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sdt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cccd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiemTichLuy)
                        </td>
                        <td class="text-center">
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.IdKhachHang">Edit</a>
                            <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.IdKhachHang">Details</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdKhachHang">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
